/* -------------------- ITEMS -------------------- */
.miniature-entry{
  padding: 30px 0px; 
}

.miniature-entry .miniature-details-block{
  padding: 0px 0px 15px 0px;
}

.miniature-entry .miniature-details-block .miniature-title{
  color: #efefef;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
}

.miniature-entry .miniature-details-block .miniature-created-at{
  color: #A33ACB;
  font-size: 14px;
  padding: 0px 0px 5px 0px;
}

.miniature-entry .miniature-details-block .miniature-description{
  color: #bebebe;
  font-size: 14px;
}

.miniature-entry .miniature-details-block .miniature-description:empty{
  display: none;
}

.miniature-entry .miniature-images-block{
  width: 100%
}

.miniature-entry .miniature-images-block .miniature-image{
  width: 100%
}