/* -------------------- RESETS -------------------- */
html, body, div{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif
}

body{
  background: #0E0A19;
  color: #efefef;
}

a{
  text-decoration: none;
  color: #efefef;
  transition: all 200ms;
}

/* -------------------- LAYOUT -------------------- */

.container{
  max-width: 1024px;
  margin: auto;
  font-size: 14px;
}

.container.content{
  padding-top: 30px;
}

.content-block{
  margin: 30px 15px;  
}

.content-block .cb-inner-container{
  padding: 2px 2px 0 2px;
  background: linear-gradient(to bottom, rgba(68, 131, 206, 1) 20%, rgba(0,0,0,0) 100%);  
  box-shadow: 0 3px 6px rgba(71, 23, 246, 0.16), 0 3px 6px rgba(71, 23, 246, 0.23);
}

.content-block .cb-inner-content{
  background: #0E0A19;
  width: 100%;
  height: 100%;  
}

.cb-header{
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 18px;  
  line-height: 25px;
}

.cb-header > div{
  display: inline-block;
  height: 100%;
  margin: 0;
  height: 25px;
  background: #4483CE;
}

.cb-header .cb-header-text{
  color: #FBCD00;
  padding: 0 25px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);  
}

.cb-header .cb-header-corner-right,
.cb-header .cb-header-corner-left{
  width: 23px;
  margin: 0 -15px 0 0;
  color: #4483CE;
}

.cb-header .cb-header-corner-left{
  transform: skewX(-40deg);
  margin: 0 -17px 0 0;
}

.cb-header .cb-header-corner-right{
  transform: skewX(40deg);
  margin: 0 0 0 -17px;
}

/* -------------------- HEADERS -------------------- */
h1, h2, h3{
  font-variant: small-caps;
}

h2{
  margin: 0;
  padding: 8px 0;
  box-shadow: 0 0 6px rgba(71, 23, 246, 0.5);
  text-shadow: 1px 1px #A33ACB;
  text-indent: 15px;
}

h3{
  margin: 0 0 10px 0;
  font-kerning: 1px;
  width: 100%;
  border-bottom: 1px solid;
}

h4{
  font-size: 14px;
  margin: 15px 0 3px 15px;
  font-weight: lighter;
  font-kerning: 1px;
}

/* -------------------- TOP BAR -------------------- */
.top-bar{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  margin: 0;
  box-shadow: 0 0 rgba(71, 23, 246, 0.16), 0 3px 6px rgba(71, 23, 246, 0.23);
}

.top-bar .inner{
  max-width: 996px;
  margin: auto;
}

.top-bar .inner a{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-weight: bold;
  text-shadow: 1px 1px #A33ACB;
}

.top-bar .inner a:hover{
  text-shadow: 3px 3px #A33ACB;
}

.top-bar .back-button{
  float: right;
}

.top-bar .icon{  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 93px 21px;
}

.top-bar .icon.linkedin{
  background-image: url("../image/Logo-White-21px-R.png");
  
  width: 93px;
  opacity: 0.5;
}

.top-bar .icon.linkedin:hover{
  opacity: 1;
}

/* -------------------- HEADER BLOCK -------------------- */

.class-info .cb-header{
  text-align: center;
  margin: auto;
  font-size: 24px;
}

.class-info .cb-inner-content{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.class-info .portrait-wrapper{
  padding: 0 3px 0 3px;
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom, rgba(68, 131, 206, 1) 20%, rgba(0,0,0,0) 100%);  
}

.class-info .portrait{
  background-image: url("../image/Headshot_2_SMaleck_2017-05-04_Resized.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;      
  box-shadow: 0 0 6px rgba(71, 23, 246, 0.23);
}

.class-info .details-wrapper{  
  flex-grow: 1;  
}

/* DETAILS */
.class-info .info-row .detail-item{
  display: inline-block;  
  padding: 20px;
}

.class-info .info-row .label{
  text-align: left;
  font-weight: bold;  
  color: #FBCD00;
  text-transform: uppercase;
}

.class-info .info-row .value{
  text-align: left;
  color: #efefef;
  font-family: monospace;
  text-shadow: 1px 1px #4483CE;
  padding-left: 10px;
}

/* STATS */
.class-info .stats{
  padding: 18px 0 0 0;
}

.class-info .stats .stat-item{  
  border-right: 2px solid #A33ACB;  
  display: inline-block;
  width: 110px;
}

.class-info .stats .stat-item:last-child{
  border-right: none;   
}

.class-info .stats .stat-item{  
  text-align: center;  
}

.class-info .stats .value{
  font-size: 24px;
  text-align: center;
  padding: 0;
}


@media screen and (max-width: 625px) {
  .class-info .portrait-wrapper,
  .class-info .portrait,
  .class-info .details-wrapper{
    display: block;
    margin: auto;
  }

  .class-info .details-wrapper{
    text-align: center;
  }

  .class-info .details .detail-item{
    text-align: left;
  }

  .class-info .stats{
    padding: 0 0 15px 0;
  }

  .class-info .stats .stat-item{
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 473px) {

  .class-info .stats .stat-item:nth-child(3){
    border-right: none;  
  }
}

@media screen and (max-width: 367px) {

  .class-info .stats .stat-item:nth-child(2){
    border-right: none;  
  }
  .class-info .stats .stat-item:nth-child(3){
    border-right: 2px solid #A33ACB;   
  }
}

/* -------------------- SKILL MATRIX -------------------- */

.skill-group-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px;
}

.skill-group{
  margin: 25px 0;
  width: 300px;
}

.skill-bar { 
	height: 20px;
	position: relative;
	background: #e7dfdd;
	border-radius: 1px;
	padding: 5px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  transform: skewX(20deg);
}

.skill-bar .bar-fill {  
  float: left;
  height: 100%;
  border-radius: 1px;
  background-color: #4483CE;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: 1px 2px rgba(81, 216, 250, 0.3);
  position: relative;
  overflow: hidden;  
  transition: all 600ms ease-in-out;
}

.skill-bar .bar-label{ 
  display: none;
  position: relative;  
  float: right;
  margin: -3px 5px;
  height: 100%;
  transform: skewX(-20deg);
  color: #FBCD00;
  font-size: 18px;
}