<!DOCTYPE html>
<html>
    <head>        
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./js/script.js"></script>

        <!-- STYLES -->
        <link href="./css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- MAIN VUE WRAPPER -->
        <div id="app" class="container">

            <!-- HEADER -->
            <div class="header">
                <h1>Sebastian Maleck</h1>
            </div>

            
            <!-- SKILL MATRIX -->
            <div class="skill-matrix">
                <h2>Skills</h2>
                <div class="skill-group-container">                            
                    <!-- Skill Group Box -->
                    <div v-for="skillGroup in skillGroups" class="skill-group">
                        <h3>{{skillGroup.title}}</h3>
    
                        <!-- Skill Items -->
                        <div v-for="skill in skillGroup.items" class="skill-item">                       
                            <div>
                                <h4>{{skill.name}}</h4>
                                <div class="skill-bar">
                                    <span class="bar-fill" v-bind:style="{ width: skill.level + '0%' }"></span>
                                    <span class="bar-label">{{skill.level}}</span>
                                </div>                            
                            </div>
                        </div>
                    </div>                                
                </div>
            </div>

            <!-- FOOTER -->
            <div class="footer">

            </div>

        </div> 
        <!-- END VUE -->        
    </body>    
</html>