<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>I did this</title>

    <!-- SCRIPTS -->
    <script src="./lib/vue.min.js"></script>
    <script src="./js/craftingProjects.js?v1"></script>
    <script src="./js/miniatures.js?v1"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">

    <!-- STYLES -->
    <link href="./css/style.css?v1" rel="stylesheet" type="text/css">
    <link href="./css/miniatures.css?v1" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- MAIN VUE WRAPPER -->
    <div id="app">

        <!-- TOP BAR -->
        <div class="top-bar">
            <div class="inner">
                <div class="menu-bar-button">
                    <a href="?">ALL</a>
                </div>
                <div v-for="category in craftingData" class="menu-bar-button">
                    <a :href="'?category=' + category.category">{{category.category}}</a>
                </div>
            </div>
        </div>

        <!-- Content Wrapper -->
        <div class="container content">

            <!-- Category Wrapper -->
            <div v-for="category in collection" class="miniatures-category">
                
                <div class="content-block">
                    <h2 class="category-title">
                        <a :id="category.category" :href="'#' + category.category">{{category.category}}</a>
                    </h2>
                    
                    <!-- ENTRY -->
                    <div v-for="miniature in category.items" class="miniature-entry">
                        <div class="miniature-details-block">
                            <div class="miniature-title">
                                <a :id="category.category + '-' + miniature.name" :href="'#' + category.category + '-' + miniature.name">{{miniature.name}}</a>
                            </div>
                            <div class="miniature-created-at">{{miniature.createdAt}}</div>
                        </div>

                        <!-- ENTRY IMAGES -->
                        <div class="miniature-images-block">
                            <div v-for="imgSrc in miniature.images" class="miniature-image card-1">
                                <a :href="imgSrc">
                                    <img :src="imgSrc">
                                </a>
                            </div>
                        </div><!-- END IMAGES -->
                    </div>
                </div>
            </div> <!-- END CATEGORY  -->

        </div> <!-- END Content Wrapper  -->
    </div> <!-- END Vue App -->
</body>

</html>